<h1>タスク一覧</h1>
<div>
  <% @tasks.each do |task| %>
    <ul>
      <li>
        <%= task.content %>
        <%= link_to  "詳細", show_path(task) %>
        <%= link_to  "編集", edit_path(task) %>
        <%= link_to  "削除", destroy_path(task), method: :delete %>
      </li>
    </ul>
  <% end %>
</div>
<%= link_to  "追加", new_path %>